<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.hestyle.road_examination_manager.mapper.ExamMapper">
    <select id="findByAdmissionNo" parameterType="String" resultType="cn.hestyle.road_examination_manager.entity.Exam">
        SELECT
            `admission_no` AS `admissionNo`,
            `car_id` AS `carId`,
            `exam_template_id` AS `examTemplateId`,
            `light_exam_template_id` AS `lightExamTemplateId`,
            `examiner_id` AS `examinerId`,
            `candidate_id` AS `candidateId`,
            `exam_time` AS `examTime`,
            `state` AS `state`,
            `completed_time` AS `completedTime`,
            `is_pass` AS `isPass`,
            `scored` AS `scored`,
            `score_loss_desc` AS `scoreLossDesc`,
            `is_del` AS `isDel`
        FROM
            t_exam
        WHERE
            `admission_no`=#{admissionNo}
    </select>

    <select id="findByPage" resultType="cn.hestyle.road_examination_manager.entity.Exam">
		SELECT
			`admission_no` AS `admissionNo`,
            `car_id` AS `carId`,
            `exam_template_id` AS `examTemplateId`,
            `light_exam_template_id` AS `lightExamTemplateId`,
            `examiner_id` AS `examinerId`,
            `candidate_id` AS `candidateId`,
            `exam_time` AS `examTime`,
            `state` AS `state`,
            `completed_time` AS `completedTime`,
            `is_pass` AS `isPass`,
            `scored` AS `scored`,
            `score_loss_desc` AS `scoreLossDesc`,
            `is_del` AS `isDel`
		FROM
			`t_exam`
		WHERE
			is_del = 0
		ORDER BY
			`exam_time` desc
		LIMIT
			#{beginIndex}, #{pageSize}
	</select>

    <select id="getExamCount"  resultType="java.lang.Integer">
			SELECT COUNT(admission_no)
			FROM t_exam
			WHERE is_del=0
	</select>

    <insert id="addNew" parameterType="cn.hestyle.road_examination_manager.entity.Exam">
        INSERT INTO t_exam(
			`admission_no`,
            `car_id`,
            `exam_template_id`,
            `light_exam_template_id`,
            `examiner_id`,
            `candidate_id`,
            `exam_time`,
            `state`,
            `completed_time`,
            `is_pass`,
            `scored`,
            `score_loss_desc`,
            `is_del`
		) VALUES (
			#{admissionNo},
			#{carId},
			#{examTemplateId},
			#{lightExamTemplateId},
			#{examinerId},
			#{candidateId},
			#{examTime},
			#{state},
			#{completedTime},
			#{isPass},
			#{scored},
			#{scoreLossDesc},
			#{isDel}
		)
    </insert>

    <update id="deleteByAdmissionNo">
        UPDATE t_exam
		SET is_del = 1
		WHERE admission_no=#{admissionNo}
    </update>

    <update id="update" parameterType="cn.hestyle.road_examination_manager.entity.Exam">
        UPDATE t_exam
		SET
		    `car_id`=#{carId},
            `exam_template_id`=#{examTemplateId},
            `light_exam_template_id`=#{lightExamTemplateId},
            `examiner_id`=#{examinerId},
            `candidate_id`=#{candidateId},
            `exam_time`=#{examTime},
            `state`=#{state},
            `completed_time`=#{completedTime},
            `is_pass`=#{isPass},
            `scored`=#{scored},
            `score_loss_desc`=#{scoreLossDesc},
            `is_del`=#{isDel}
		WHERE admission_no=#{admissionNo}
    </update>
</mapper>