<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.hestyle.road_examination_manager.mapper.ExaminerMapper">
    <!--查询所有考官-->
    <!--List<Examiner> findAll()-->
    <select id="findAll" resultType="cn.hestyle.road_examination_manager.entity.Examiner">
		SELECT
		    `id` as `id`,
			`password` as `password`,
			`name` as `name`,
			`age` as `age`,
			`gender` as `gender`,
			`photo_path` as `photoPath`,
			`phone_number` as `phoneNumber`,
			`is_del` as `isDel`
		FROM
			`t_examiner`
	</select>
    <!--根据id查找考官-->
    <!--Examiner findById(String id)-->
    <select id="findById" resultType="cn.hestyle.road_examination_manager.entity.Examiner">
        SELECT
			`id` as `id`,
			`password` as `password`,
			`name` as `name`,
			`age` as `age`,
			`gender` as `gender`,
			`photo_path` as `photoPath`,
			`phone_number` as `phoneNumber`,
			`is_del` as `isDel`
		FROM
			`t_examiner`
		WHERE
			`id`=#{id}
    </select>
    <!--增加考官-->
    <!--void addExaminer(Examiner examiner)-->
    <insert id="addExaminer" parameterType="cn.hestyle.road_examination_manager.entity.Examiner">
        INSERT INTO t_examiner(
			id,
			name,
			password,
			age,
			gender,
			photo_path,
			phone_number,
			is_del
		) VALUES (
			#{id},
			#{name},
			#{password},
			#{age},
			#{gender},
			#{photoPath},
			#{phoneNumber},
			#{isDel}
		)
    </insert>
    <!--删除考官-->
    <!--void delExaminer(String id)-->
    <update id="delExaminer">
		UPDATE t_examiner
		SET is_del = 1
		WHERE id=#{id}
	</update>

    <!--分页查询所有管理员-->
    <!--List<Candidate> findByPage(Integer beginIndex, Integer pageSize)-->
    <select id="findByPage" resultType="cn.hestyle.road_examination_manager.entity.Examiner">
		SELECT
			`id` as `id`,
			`name` as `name`,
			`password` as `password`,
			`age` as `age`,
			`gender` as `gender`,
			`photo_path` as `photoPath`,
			`phone_number` as `phoneNumber`,
			`is_del` as `isDel`
		FROM
			`t_examiner`
		ORDER BY
			`name` desc
		LIMIT
			#{beginIndex}, #{pageSize}
	</select>
    <!--获取Candidate的数量-->
    <!--Integer getCandidateCount()-->
    <select id="getExaminerCount" resultType="java.lang.Integer">
		SELECT
            COUNT(`name`)
        FROM
            `t_examiner`
	</select>
    <!--更新examiner账号信息-->
    <!--Integer update(Examiner examiner)-->
    <update id="update" parameterType="cn.hestyle.road_examination_manager.entity.Examiner">
		UPDATE `t_examiner` SET
			`id` = #{id},
			`name` = #{name},
			`password` = #{password},
		 	`age` = #{age},
			`gender` = #{gender},
			`phone_number` = #{phoneNumber},
			`is_del` = #{isDel}
		WHERE
			`id` = #{id}
	</update>
</mapper>