<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.hestyle.road_examination_manager.mapper.ManagerMapper">
	<select id="findByUsername" resultType="cn.hestyle.road_examination_manager.entity.Manager">
		SELECT
			`username` as `username`,
			`password` as `password`,
			`name` as `name`,
			`age` as `age`,
			`gender` as `gender`,
			`phone_number` as `phoneNumber`,
			`is_del` as `isDel`
		FROM
			`t_manager`
		WHERE
			`username`=#{username}
	</select>
	<!--插入manager数据-->
	<!--Integer addNew(Manager manager)-->
	<insert id="addNew" parameterType="cn.hestyle.road_examination_manager.entity.Manager">
		INSERT INTO `t_manager` VALUES (
			#{username}, #{password}, #{name}, #{age}, #{gender}, #{phoneNumber}, #{isDel}
		)
	</insert>
	<!--分页查询所有管理员-->
	<!--List<Manager> findByPage(Integer beginIndex, Integer pageSize)-->
	<select id="findByPage" resultType="cn.hestyle.road_examination_manager.entity.Manager">
		SELECT
			`username` as `username`,
			`name` as `name`,
			`age` as `age`,
			`gender` as `gender`,
			`phone_number` as `phoneNumber`,
			`is_del` as `isDel`
		FROM
			`t_manager`
		ORDER BY
			`username` desc
		LIMIT
			#{beginIndex}, #{pageSize}
	</select>
	<!--获取manager的数量-->
	<!--Integer getManagerCount()-->
	<select id="getManagerCount" resultType="java.lang.Integer">
		SELECT
            COUNT(`username`)
        FROM
            `t_manager`
	</select>
	<!--更新manager账号信息-->
	<!--Integer update(Manager manager)-->
	<update id="update" parameterType="cn.hestyle.road_examination_manager.entity.Manager">
		UPDATE `t_manager` SET
			`password` = #{password},
			`name` = #{name},
		 	`age` = #{age},
			`gender` = #{gender},
			`phone_number` = #{phoneNumber},
			`is_del` = #{isDel}
		WHERE
			`username` = #{username}
	</update>
</mapper>