<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.hestyle.road_examination_manager.mapper.ManagerMapper">
	<select id="findByUsername" resultType="cn.hestyle.road_examination_manager.entity.Manager">
		SELECT
			`username` as `username`,
			`password` as `password`,
			`name` as `name`,
			`age` as `age`,
			`gender` as `gender`,
			`phone_number` as `phoneNumber`,
			`is_del` as `isDel`
		FROM
			`t_manager`
		WHERE
			`username`=#{username}
	</select>
</mapper>